<a href="https://colab.research.google.com/github/jpskycak/aihigh/blob/master/intro-to-ai/codingBootcamp_stringsIntsFloatsBooleans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Setup

In order to run the notebook,

1. sign into your Google account (top-right) and
2. make a copy of the notebook in your Google Drive by pressing the <img src="https://i.imgur.com/chlzY9P.png" alt="Drawing" width="100"/> button in the upper-left menu.

#Variables

When we program in IPython notebooks, we store and manipulate data in the form of variables.

To assign data a variable name, we use the `=` symbol. Then, when we print the variable, the data will appear.

In [0]:
my_variable = 'The variable contains this sentence.'
print(my_variable)

The variable contains this sentence.

---

### Exercise 1

Assign `'This is a sentence.'` to the variable `my_sentence`. Then, print the sentence by printing the variable.

In [0]:
# assign 'This is a sentence.' to my_sentence
# print the variable my_sentence

---

We can also assign an existing variable to a new variable.

In [0]:
my_variable = 'The variable contains this sentence.'
my_variable_again = my_variable
print(my_variable_again)

The variable contains this sentence.

Likewise, we can overwrite an existing variable with new data.

In [0]:
my_variable = 'The variable contains this sentence.'
my_variable = 'This variable has been overwritten with a new sentence!'
print(my_variable)

This variable has been overwritten with a new sentence!

---

### Exercise 2

Overwrite the variable `my_sentence` with a new sentence `'I have commandeered your sentence.'` Then, print the new sentence by printing the variable.

In [0]:
my_sentence = 'This is my sentence.' # overwrite this
# print the variable my_sentence

---

# Strings, Ints, Floats, and Booleans

We will primarily be using 4 types of variables: strings, ints, floats, and booleans.
* <b>Strings</b> are sequences of characters and are surrounded by quotes. Characters can include not only letters, but also numbers and symbols such as punctuation and spaces. Examples of strings include `'cat'`, `'The dog is happy!'`, and `'asdf1234!! !@#^&'`.
* <b>Ints</b> are integers such as 1, 2, 3, 512, 87743, and -3432178.
* <b>Floats</b> are decimals, also known as floating point numbers. Examples of floats include 1.5, 3.141592654, 112.0, and -32.018.
* <b>Booleans</b> can be either True or False.

---

# Strings

Strings can be concatenated (combined one after another) with the `+` symbol.

In [0]:
'a'+'b'

'ab'

Notice that a space is not automatically added between concatenated strings -- so if we want a space, we need to add it manually.

In [0]:
var1 = 'hello'
var2 = ' '
var3 = 'there'
var1+var2+var3

'hello there'

Strings can also represent symbols other than words.

In [0]:
'The number 225 is a perfect square! Here are some symbols: @#$&*&^.'

'The number 225 is a perfect square! Here are some symbols: @#$&*&^.'

---

### Exercise 3

Add the following variables in some order to create the string `'The dog jumped over the cat.'`

In [0]:
var1='dog'
var2='over'
var3='cat'
var4='the'
var5='jumped'
var6='The'
var7=' '
var8='.'
var1+var2+var3+var4+var5+var6+var7+var8 # change this

'dogovercatthejumpedThe .'

---

We can pick out an individual character within in a string by using the <b>index</b> of the character. The index just counts how many characters are before our desired character -- so the first character in a string has an index of 0, the second character has an index of 1, the third character has an index of 2, and so on.

In [0]:
'abcdefg'[0]

'a'

In [0]:
'abcdefg'[1]

'b'

In [0]:
'abcdefg'[2]

'c'

In [0]:
'abcdefg'[5]

'f'

We can also pick out a <b>substring</b>, or a group of characters within a string, by using two indices and a colon. The first index tells us where we should start picking out characters, and the second index tells us where we should stop picking out characters. (The character located at the second index is not included in the substring.)

In [0]:
'abcdefg'[0:3]

'abc'

In [0]:
'abcdefg'[2:4]

'cd'

In [0]:
'abcdefg'[3:7]

'defg'

---

### Exercise 4

Pick out the substring `'shoes have'` from the string below. (Remember that spaces count as characters!)

In [0]:
'My shoes have laces.'[0:20] # change the indices 0 and 20 so that the resulting substring is just 'shoes have'

'My shoes have laces.'

---

There are various functions and methods that can be used to process strings. For now, you can think of functions and methods in the same way -- except that functions are called in the form `function(string)`, whereas methods are applied in the form `string.method()`.

For example, the `len()` function tells us how many characters are in a string.

In [0]:
len('This is a string.')

17

Likewise, the `.upper()` method converts all letters in the string to be uppercase.

In [0]:
'This is a string.'.upper()

'THIS IS A STRING.'

There are many, many functions and methods that can be applied to strings. As such, we will not go through all of them.

However, it is important to know how to find a function or method when you need it. You can usually find them by searching Google. For example, to find the method or function which converts a string to all lowercase, you can search Google with something like "python string lowercase".

---

### Exercise 5

Use functions or methods to perform the desired operations on the following strings.

In [0]:
'This should look like shouting.' # convert this string to uppercase

'This should look like shouting.'

In [0]:
'         This should have no spaces at the beginning nor the end.             ' # remove spaces from the beginning and end of the string

'         This should have no spaces at the beginning nor the end.             '

---

# Ints/Floats

Operations on ints and floats follow the rules of mathematics.

Floats and ints are very similar -- the only difference is that floats have decimal parts, while ints do not.

In [0]:
2+3

5

In [0]:
4-3

1

In [0]:
6*2

12

In [0]:
-4/8

-0.5

---

### Caution 1

In Python, the carrot symbol does not mean exponentiation. If you use the carrot symbol for exponentiation, then your result will probably be incorrect.

In [0]:
2^3 # 2 to the power of 3 should be 8...

1

The way to do exponentiation in Python is to use two multiplication symbols in a row.

In [0]:
2**3 # this actually means 2 to the power of 3

8

---

Floats and ints can be assigned to variables and modified through operations on those variables.

In [0]:
a=1
a=a+2
print(a)

3

In [0]:
a=10
b=5.2
c= (b-1)*a
print(c)

42.0

---

### Caution 2

Floats are sometimes rounded because the computer can only store a finite number of digits. As a result, operations with floats can be slightly inaccurate due to roundoff error.

In practice, this often won't pose a problem, since the roundoff error is so small.

In [0]:
4-3.2 # computer will store a value very close to the true value of 0.8

0.7999999999999998

However, we can run into serious issues if we try to work with extremely large numbers.

Recall that $\lim_{n \to \infty} \left( 1+\frac{1}{n} \right)^n \approx 2.7182...$

If we approximate this limit using $n=10^6$, we get a sensible result.

In [0]:
n=10**6
(1+1/n)**n

2.7182804690957534

However, if we approximate the limit using $n=10^{100}$, we get a nonsense result.

In [0]:
n=10**100
(1+1/n)**n

1.0

The reason why we get this result is that when `n` is extremely large, the `1/n` part is treated as `0` due to roundoff error. The inside of the parentheses is then treated as `1.0` exactly, and `1.0` raised to any power is still `1.0`.

In [0]:
n=10**6
(1+1/n)

1.000001

In [0]:
n=10**100
(1+1/n)

1.0

---

### Exercise 6

In the cell below, write `c` as an expression of `a` and `b` so that `c` takes the value of 15.

In [0]:
a=3
b=2.5
c=a-b
print(c)

0.5

---

#Booleans

Booleans can only take two values: `True`, `False`. They can be manipulated through logical operations including `not`, `and`, `or`.

The `not` operation returns the opposite of the boolean to which it is applied.

In [0]:
not True

False

In [0]:
not False

True

The `and` operation returns `True` if the booleans preceding and following it are both `True`.

Otherwise, if at least one of them is `False`, then the operation returns `False`.

In [0]:
True and True

True

In [0]:
True and False

False

In [0]:
False and True

False

In [0]:
False and False

False

The `or` operation returns `True` if any of the booleans preceding and following it is `True`.

In order to return `False`, the `or` operation requires both of the booleans preceding and following it to be `False`.

In [0]:
True or True

True

In [0]:
True or False

True

In [0]:
False or True

True

In [0]:
False or False

False

Like strings, ints, and floats, booleans can be assigned to variables and those variables can be manipulated just as the booleans would.

Boolean variables often follow a naming convention `is_XXXX` where `XXXX` is some property that another thing may or may not have.

In [0]:
is_open=False
not is_open

True

In [0]:
is_open=True
is_closed=False
is_open and is_closed

False

---

### Exercise 7

Create an expression using the variables `is_normal`, `is_surprising`, and `is_weird` that evaluates to `True`.

In [0]:
is_normal = False
is_surprising = False
is_weird = True
is_normal and is_surprising and is_weird # change this so that it evaluates to True

False

---

There are various operations, functions, and methods that return boolean values when applied to strings, ints, and floats. Such operators, functions, and methods are meant to test whether a particular thing or group of things has a particular property.

In [0]:
2 > 1

True

In [0]:
5 <= 4.9 # less than or equal to

False

In [0]:
1 == 1.0 # tests equality

True

In [0]:
'asdf'.isdigit()

False

In [0]:
'1234'.isdigit()

True

In [0]:
'abc' == 'ABC'

False

In [0]:
'abc'.upper() == 'ABC'

True

---

### Exercise 8

Use functions or methods to perform the desired operations on the following strings, ints, and floats. (You may have to do some Googling!)

In [0]:
'asdf98qoiuretkjld' # test if every character in the string is a letter

'asdf98qoiuretkjld'

In [0]:
4.2 # test if this is an integer

4.2